<div class="pic7">

</div>



<div id="form_container">





<form id="change_info" method="POST" autocomplete="off">

        <h1 class="main_header"> Edit Your Profile </h1>
        <br>
        <br>

        {{#each userInfo}}

        <input class="input-field" type="text" name="first_name" placeholder="first name ..." value="{{first_name}}" />
        <br>
        <br>
        <input class="input-field" type="text" name="last_name" placeholder="last name ..." value="{{last_name}}"/>
        <br>
        <br>
        <input class="input-field" type="text" name="email" placeholder="email ..." value="{{email}}"/>
        <br>
        <br>
        <input class="input-field" type="text" name="password" placeholder="password ..."/>
        <br>
        <br>
        <input class="input-field" type="text" name="age" placeholder="age ..." value="{{age}}"/>
        <br>
        <br>
        <input class="input-field" type="text" name="city" placeholder="city ..." value="{{city}}"/>
        <br>
        <br>
        <input class="input-field" type="text" name="homepage" placeholder="homepage ..." value="{{homepage}}"/>
        <br>
        <br>
        <input type="submit" class="submit-button" value="UPDATE"/>
        <br>
        <br>
         {{/each}}
        <p > <a href="./thanks" id="thanks_text"> back </a> </p>
        <br>
        <br>
        <p class="thanks_text_small"> <a href="./logout" > logout </a> </p>

        <!-- put this in every form !!! -->
<input name="_csrf" value="{{csrfToken}}" type="hidden" />
        <!-- every one of them -->

        {{#if error}}
        <div class="error">
            <p> FAILED TRY AGAIN </p>

        </div>
        {{/if }}
</form>


</div>
