
<div class="pic5">

</div>

<h1 class="main_header"> Here are some other cool dudes and dudets that signed also. Thank you for your support </h1>

<p > <a href="./thanks" id="thanks_text"> back </a> </p>

<div id="signer_container">

        {{#signers }}
        <p id="signers_text"> {{ first_name }} {{ last_name }} {{ email }} {{ age }} {{ city }} {{ homepage }}><a/> </p>
        {{/signers }}
        <p > <a href="./thanks" id="thanks_text"> back</a> </p>

</div>
